$main-font: 'Cherry Cream Soda', cursive;
$pale-blue: #DEEBED;
$grey: #555;
$bright-blue: #318ADF;
$blue: #3A7E9E;
$light-blue: #84C6F5;


body {
	font-family: $main-font;
}
#home, #about, #portfolio {
	padding-top: 13vh;
}

/*
	header
*/
.navbar {
  border: none;
}
.navbar-brand {
    padding: 15px 15px;
    font-size: 33px;
}
.navbar-default {
    background-color: $pale-blue;
    margin: 0;
}
.navbar-default .navbar-brand {
    color: $grey;
}
.navbar-nav {
  font-size: 18px;
  padding-right: 0px;
}


/*
       home
*/
#home {
	background: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12321179_10154768161093345_3888237526442729332_n.jpg?oh=e51ad3d4bdcf63ae28e1c79f62e8468e&oe=57ABE142') center center;
	background-attachment: fixed, scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	text-align: center;
	color: white;
}


/*
       About
*/
#me {
  max-width: 200px;
  height: auto;
  border: 7px solid $bright-blue;
  border-radius: 50%;
  position: relative;
	display: inline-block;
}

#about {
	text-align: center;
	min-height: 100vh;
	width: 100%;
	// background: #F7EDFA;
}
.about {
	padding: 0% 15%;
}
.about h1, h2 {
	margin: 5%;
	color: $blue;
}
.about p {
	font-size: 19px;
	color: $blue;
}

/*
       Portfolio
*/
#portfolio {
	text-align: center;
	width: 100%;
	height: 100%;
	background: $light-blue;
}
.portfolio figure{
	overflow: hidden;
	margin: 11%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	transition: box-shadow .3s ease-in-out;

}
.portfolio figure a img {
  height: 315px;
  width: 535px;
}
.portfolio figure:hover {
	box-shadow: 10px 10px 5px #000;
}
#portfolio p {
	font-size: 17px;
}

/*
       Contact
*/
#contact {
	text-align: center;
	min-height: 100vh;
	padding: 21vh 0%;
	width: 100%;
  font-size: 15px;
}

#contact img {
	width: 100%;
	height: 70%;
}
#github, #linkedin {
	max-width: 50px;
	height: 20px;
}


@media (min-width: 768px) {
    #about, #home, #portfolio {
	    padding-top: 9vh;
    }
	.about {
		padding: 0% 25%;
	}
	#front {
  		padding: 21vh 21vh 0vh 10vh;
	}
	#nav {
		padding: 0px 55px;
	}
	.navbar-default {
    	padding: 5px;
	}
	.navbar-nav {
  		float: right;
	}
}
